In [50]:
import pandas as pd

data=[['Reg000001','AAA',1111111,90,'OS','Pass'],['Reg000002','BBB',2222222,80,'ML','Pass'],
      ['Reg000003','CCC',3333333,40,'BDA','Fail'],['Reg000004','DDD',4444444,78,'NLP','Pass'],
      ['Reg000005','EEE',5555555,63,'MMAI','Pass'],['Reg000003','CCC',3333333,40,'OS','Fail'],
      ['Reg000006','FFF',None,'105','DA','Pass']]

df=pd.DataFrame(data,columns=['Index','Name','Mobile_No','Marks','Course','Status'])

print (df)

       Index Name  Mobile_No Marks Course Status
0  Reg000001  AAA  1111111.0    90     OS   Pass
1  Reg000002  BBB  2222222.0    80     ML   Pass
2  Reg000003  CCC  3333333.0    40    BDA   Fail
3  Reg000004  DDD  4444444.0    78    NLP   Pass
4  Reg000005  EEE  5555555.0    63   MMAI   Pass
5  Reg000003  CCC  3333333.0    40     OS   Fail
6  Reg000006  FFF        NaN   105     DA   Pass

In [62]:
#Question 1: Count the number of students in the fram
print(df.count())

Index        7
Name         7
Mobile_No    6
Marks        7
Course       7
Status       7
Grade        7
New Grade    7
dtype: int64

In [52]:
#Question 2: Add a new column that should represent the grade letter (A>=90,B>=80,C>=70,D>=60,F<60) based on the marks obtained by students
import numpy as np

df["Marks"] = pd.to_numeric(df["Marks"])

gradePartition = [
    (df['Marks'] >= 90),
    (df['Marks'] >=80) & (df['Marks'] <= 90),
    (df['Marks'] >= 70) & (df['Marks'] <= 80),
    (df['Marks'] >= 60) & (df['Marks'] <= 70),
    (df['Marks'] < 60)
    ]

grades = ['A', 'B','C','D','F']

df['Grade']=np.select(gradePartition,grades)

print(df)

       Index Name  Mobile_No  Marks Course Status Grade
0  Reg000001  AAA  1111111.0     90     OS   Pass     A
1  Reg000002  BBB  2222222.0     80     ML   Pass     B
2  Reg000003  CCC  3333333.0     40    BDA   Fail     F
3  Reg000004  DDD  4444444.0     78    NLP   Pass     C
4  Reg000005  EEE  5555555.0     63   MMAI   Pass     D
5  Reg000003  CCC  3333333.0     40     OS   Fail     F
6  Reg000006  FFF        NaN    105     DA   Pass     A

In [66]:
# Question 3: Insert the missing data with proper value input from user
print(df.isnull().sum())                 # show the sum of missing values in each column

print(df.isna())                         # show false for available values, true for not available values

phonenumber = input("Enter mobile number ")


print(df)

Index        0
Name         0
Mobile_No    1
Marks        0
Course       0
Status       0
Grade        0
New Grade    0
dtype: int64
   Index   Name  Mobile_No  Marks  Course  Status  Grade  New Grade
0  False  False      False  False   False   False  False      False
1  False  False      False  False   False   False  False      False
2  False  False      False  False   False   False  False      False
3  False  False      False  False   False   False  False      False
4  False  False      False  False   False   False  False      False
5  False  False      False  False   False   False  False      False
6  False  False       True  False   False   False  False      False
   Index Name  Mobile_No  Marks Course Status Grade New Grade
0      1  AAA  1111111.0     90     OS   Pass     A         A
1      2  BBB  2222222.0     80     ML   Pass     B         B
2      3  CCC  3333333.0     40    BDA   Fail     F         F
3      4  DDD  4444444.0     78    NLP   Pass     C         B
4      5  EEE  5555555.0     63   MMAI   Pass     D         D
5      3  CCC  3333333.0     40     OS   Fail     F         F
6      6  FFF        NaN    105    BDA   Pass     A         A

Enter mobile number  4

In [ ]:
#Question 4. Remove the duplicate rows and replace the names with your friends names
series=(df.duplicated(subset=['Index', 'Name','Mobile_No']))
print("\nBefore dropping duplicate data:\n") 
print(df)
df.drop_duplicates()

i=0
loc=0
r=range(len(series))

for i in r:
  if series[i]== True:
    loc=i 
    Name= input("Enter Name:   ")
  i=i+1

print("\nAfter dropping duplicates & Replacing Names:\n") 
print(df)

Before dropping duplicate data:

   Index Name  Mobile_No  Marks Course Status Grade New Grade
0      1  AAA  1111111.0     90     OS   Pass     A         A
1      2  BBB  2222222.0     80     ML   Pass     B         B
2      3  CCC  3333333.0     40    BDA   Fail     F         F
3      4  DDD  4444444.0     78    NLP   Pass     C         B
4      5  EEE  5555555.0     63   MMAI   Pass     D         D
5      3  CCC  3333333.0     40     OS   Fail     F         F
6      6  FFF        NaN    105    BDA   Pass     A         A

After dropping duplicates & Replacing Names:

   Index Name  Mobile_No  Marks Course Status Grade New Grade
0      1  AAA  1111111.0     90     OS   Pass     A         A
1      2  BBB  2222222.0     80     ML   Pass     B         B
2      3  CCC  3333333.0     40    BDA   Fail     F         F
3      4  DDD  4444444.0     78    NLP   Pass     C         B
4      5  EEE  5555555.0     63   MMAI   Pass     D         D
5      3  CCC  3333333.0     40     OS   Fail     F         F
6      6  FFF        NaN    105    BDA   Pass     A         A

Enter Name:    44

In [56]:
#Question: 5. Let us assume that teacher decided to upgrade the result of students that lack 2 marks from their result to promote them to next grade. Check and promote such students and print new result
df["Marks"] = pd.to_numeric(df["Marks"])

conditions = [
    (df['Marks'] >= 88),
    (df['Marks'] >=78) & (df['Marks'] <= 88),
    (df['Marks'] >= 68) & (df['Marks'] <= 78),
    (df['Marks'] >= 58) & (df['Marks'] <= 68),
    (df['Marks'] < 58)
    ]

values2 = ['A', 'B','C','D','F']

df['New Grade']=np.select(conditions,values2)

print(df)

       Index Name  Mobile_No  Marks Course Status Grade New Grade
0  Reg000001  AAA  1111111.0     90     OS   Pass     A         A
1  Reg000002  BBB  2222222.0     80     ML   Pass     B         B
2  Reg000003  CCC  3333333.0     40    BDA   Fail     F         F
3  Reg000004  DDD  4444444.0     78    NLP   Pass     C         B
4  Reg000005  EEE  5555555.0     63   MMAI   Pass     D         D
5  Reg000003  CCC  3333333.0     40     OS   Fail     F         F
6  Reg000006  FFF        NaN    105     DA   Pass     A         A

In [57]:
#Question 6.Mistakenly, the course name was entered wrongly by teacher, Replace the course “DA” with “BDA” and print updated frame to user
print("Before Replacement:\n")
print(df)

df=df.replace('DA','BDA')

print("After Replacement:\n")
print(df)

Before Replacement:

       Index Name  Mobile_No  Marks Course Status Grade New Grade
0  Reg000001  AAA  1111111.0     90     OS   Pass     A         A
1  Reg000002  BBB  2222222.0     80     ML   Pass     B         B
2  Reg000003  CCC  3333333.0     40    BDA   Fail     F         F
3  Reg000004  DDD  4444444.0     78    NLP   Pass     C         B
4  Reg000005  EEE  5555555.0     63   MMAI   Pass     D         D
5  Reg000003  CCC  3333333.0     40     OS   Fail     F         F
6  Reg000006  FFF        NaN    105     DA   Pass     A         A
After Replacement:

       Index Name  Mobile_No  Marks Course Status Grade New Grade
0  Reg000001  AAA  1111111.0     90     OS   Pass     A         A
1  Reg000002  BBB  2222222.0     80     ML   Pass     B         B
2  Reg000003  CCC  3333333.0     40    BDA   Fail     F         F
3  Reg000004  DDD  4444444.0     78    NLP   Pass     C         B
4  Reg000005  EEE  5555555.0     63   MMAI   Pass     D         D
5  Reg000003  CCC  3333333.0     40     OS   Fail     F         F
6  Reg000006  FFF        NaN    105    BDA   Pass     A         A

In [58]:
#Question 7. Display a list of students who achieved grade “B”

df[df['New Grade'] == 'B']

       Index Name  Mobile_No  Marks Course Status Grade New Grade
1  Reg000002  BBB  2222222.0     80     ML   Pass     B         B
3  Reg000004  DDD  4444444.0     78    NLP   Pass     C         B

In [ ]:
#Question 8.Validate the marks for the range 0 to 100 so that any marks that were entered wrongly could be rectified.
df["Marks"] = pd.to_numeric(df["Marks"])

series=df['Marks'].between(0, 100,inclusive=True)

print(df)

x=0
i=0
loc=0
r=range(len(series))

for i in r:
  if series[i]== False:
    loc=i
    x=input("\nEnter marks between 0-100:")
  i=i+1

if (x >= 60):
  df.Status[loc]='Pass'
else:
  df.Status[loc]='Fail'

 if (x >= 90):
  df.Grade[loc]='A'
elif (x >= 80) and (x < 90):
  df.Grade[loc]='B'
elif (x >= 70) and (x < 80):
  df.Grade[loc]='C'
elif (x >= 60) and (x < 70):
  df.Grade[loc]='D'
else:
  df.Grade[loc]='F'

if (x >= 88):
  df.RevisedGrade[loc]='A'
elif (x >= 78) and (x < 88):
  df.RevisedGrade[loc]='B'
elif (x >= 68) and (x < 78):
  df.RevisedGrade[loc]='C'
elif (x >= 58) and (x < 68):
  df.RevisedGrade[loc]='D'
else:
  df.RevisedGrade[loc]='F'


print("\n")
print(df)

In [60]:
#Question:9.Column “Index” should represent students IDs in numeric from so replace all this data with numeric student IDs
print(df.dtypes)

df['Index']=df['Index'].str.replace('Reg', '')
df['Index']=pd.to_numeric(df['Index'])

print("\n")
print(df)

print("\n")
print(df.dtypes)

Index         object
Name          object
Mobile_No    float64
Marks          int64
Course        object
Status        object
Grade         object
New Grade     object
dtype: object


   Index Name  Mobile_No  Marks Course Status Grade New Grade
0      1  AAA  1111111.0     90     OS   Pass     A         A
1      2  BBB  2222222.0     80     ML   Pass     B         B
2      3  CCC  3333333.0     40    BDA   Fail     F         F
3      4  DDD  4444444.0     78    NLP   Pass     C         B
4      5  EEE  5555555.0     63   MMAI   Pass     D         D
5      3  CCC  3333333.0     40     OS   Fail     F         F
6      6  FFF        NaN    105    BDA   Pass     A         A


Index          int64
Name          object
Mobile_No    float64
Marks          int64
Course        object
Status        object
Grade         object
New Grade     object
dtype: object

In [61]:
#Question 10. Display a list of data that contains names and marks of students only.
print(df[['Name','Marks']])

  Name  Marks
0  AAA     90
1  BBB     80
2  CCC     40
3  DDD     78
4  EEE     63
5  CCC     40
6  FFF    105